body
{
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
a:link 
{ 
 text-decoration:none; 
}

.booki
{
	width: 5%;
	
}
.heb-act
{
	display: flex;
	justify-content: flex-end;
	
}
.heb
{
	margin-right: 50px;
	color: #0065fc;
	font-weight:bold;
}

.act
{
	margin-right: 50px;
	font-weight: italic;
}

/* Section Recherche */ 
.gmap
{
	border: 20px solid #f2f2f2;
	border-radius: 10px;
}
.logo_gmap
{
	height: 20px;
	width: 20px;
}

.recherche
{
font-weight: bold;
font-size: 1.7em;
}
.couleurrecherche
{
    background-color: #0065fc;
    color: white;
    font-size: 2em;
    border-radius: 10px;
}
.bloc_recherche
{
	display: flex;
	justify-content: flex-start;
}
.flex_filtres
{
	display: flex;
	list-style-type: none;
	flex-direction: row;
justify-content: space-between;
max-width: 1000px;
font-weight: bold;

}
.blue_circle
{
	border-radius: 25px;
	background-color: #deebff;
	height: 40px;
	width: 40px;
	color: #0065fc
}

.bordure_grise
{
	border: 3px solid #f2f2f2;
	border-radius: 20px;
	;
}
}
.couleur_bleu
{
color: #0065fc;
}
.placeholder
{
	font-weight: bold;
}
.cercle_info
{
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;	
}
.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignement
{
	display: flex;
	align-items: center;
}
.bloc-gris
{   

    width:1060px;
    height: 850px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-top: 50px; 
}
.card-img
{
	width: 250px;
	height: 150px;
}
.cards
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
h3
{
	font-weight: bold;
}

h2
{
	padding: 50px 0px 30px 5px;
}

.afficher-plus
{
	font-weight: bold;
	margin: 40px 0px 0px 50px;
}
.bloc-populaire
{
	width: 610px;
	height: 860px;
	background-color:#f2f2f2;
	border-radius: 15px;	
	margin-left: 1280px;
	margin-top: -810px;



}

.marge
{
	margin-left: 295px;
	margin-top: -50px;
}
.card-img-pop
{
	width: 200px;
	height: 150px;
	border-radius: 20px 0px 0px 20px ;
}
.detail-card
{
	display: flex;
	flex-wrap: wrap;

}
.marge-pop
{
margin: 0px 0px 0px 50px;
}
.bloc-act
{
	display: flex;
}
.image-act
{
	height: 622px;
	width: 450px;
	margin-right: 95px;
	border-radius: 20px 20px 0px 0px;

}
.image-frioul
{
	height: 150px;
	width: 350px;
	margin-right: 100px;
	margin-top: 35px;
	border-radius: 20px 20px 0px 0px;
}
.image-fort
{
height: 350px;
width: 350px;
border-radius: 20px 20px 0px 0px;
}
.image-ndg
{
	height: 245px;
	width: 350px;
	border-radius: 20px 20px 0px 0px;
}
.image-longchamp
{
height: 245px;
width: 350px;
border-radius: 20px 20px 0px 0px;
margin-top: 40px;

}
 .rectangle-footer
 {
    height: 250px;
    width: 1895px;
    background-color: #f2f2f2;
    margin-top: 100px;
 }
.footer-flex
{
	display: flex;
	justify-content: space-around;
	margin: 20px 0px 20px 20px ;
}
.flex-footer
{
	
	list-style-type: none;
	padding-left: -700px;
	padding-top: 50px;

}
.gras
{
	font-weight: bold;
}
.border-act
{
	border: 4px solid #f2f2f2;
	max-width:430px;
padding: 35px 6px 20px 5px;
margin-top: -20px;
border-radius: 0px 0px 20px 20px;
}
.border-act-small
{
	border: 4px solid #f2f2f2;
	max-width:330px;
padding: 35px 6px 20px 5px;
margin-top: -20px;
border-radius: 0px 0px 20px 20px;
}
.marge-left
{
	margin-left: 20px;
}

::placeholder
{
	color: black;
}
.cadre-blanc
{
	 border: 8px solid white;
	 background-color: white;
	 max-width:  90%;
	 border-radius: 10px;
}
.marge-top-pop
{
	margin-top: 40px;
}
.pad-pop
{
	padding-left: 20px;
}
.cadre-blanc-heb
{
	 border: 8px solid white;
	 background-color: white;
	 border-radius: 10px;
	 margin-bottom: 20px;

}

